# FIXME: workaround for security library
!securityLibrary-4.1.5.20151218.jar
!securityLibrary-4.2.2.20160105.jar

.DS_Store
build/
bower_components/
node_modules/
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# IDE and Tools Files #
.gradle/
.idea/
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
