<html ng-app="oxidesGridPortal">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/3.1.1/css/bootstrap.min.css"/>

    <script src="/webjars/angularjs/1.3.16/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular-route.min.js"></script>
    <script src="/webjars/angular-ui-bootstrap/0.13.0/ui-bootstrap.min.js"></script>

    <script src="js/oxides-grid-portal.js"></script>
</head>

<body ng-controller="oxidesGridPortalController">
<div class="app">
    <div class="navbar navbar-app navbar-absolute-top">
        <div class="navbar-brand navbar-brand-center" yield-to="title">
            <span>Open Oxides Grid Portal</span>
        </div>

        <div class="btn-group pull-right" yield-to="navbarAction">
            <div class="btn btn-navbar">Login</div>
        </div>
    </div>

    <div class="app-body">
        <ng-view class="app-content"></ng-view>
    </div>
</div>

<div>
    <label>Name:</label>
    <input type="text" ng-model="yourName" placeholder="Enter a name here"/>
    <hr/>
    <h1>Hello {{yourName}}!</h1>
</div>

<hr/>

<ul>
    <li ng-repeat="phone in phones">
        <span>{{phone.name}}</span>

        <p>{{phone.snippet}}</p>
    </li>
</ul>

</body>
</html>
