<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head/>

<body>

<footer class="footer" th:fragment="oxidesFooter">
    <div class="container panel-footer">

        <p class="text-center">
            <a href="http://www.icm.edu.pl" target="_blank">ICM</a>
            &bull;
            <a href="http://plgrid.pl" target="_blank">PLGrid</a>
            &bull;
            <a href="http://unicore.eu" target="_blank">UNICORE</a>
            &bull;
            <a href="http://glyphicons.com" target="_blank">glyphicons.com</a>
        </p>
    </div>
</footer>

</body>
</html>
