<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head/>

<body>

<footer class="footer" th:fragment="oxidesFooter">
    <div class="container panel-footer">

        <p class="text-center">
            <a href="http://www.icm.edu.pl" target="_blank"><img src="/images/icm.png" alt="ICM" height="28"/></a>
            &nbsp;&bull;&nbsp;
            <a href="http://plgrid.pl" target="_blank"><img src="/images/plgrid.png" alt="PLGrid" height="28"/></a>
            &nbsp;&bull;&nbsp;
            <a href="http://unicore.eu" target="_blank"><img src="/images/unicore.gif" alt="UNICORE" height="21"/></a>
            &nbsp;&bull;&nbsp;
            <a href="http://glyphicons.com" target="_blank">glyphicons.com</a>
        </p>
    </div>
</footer>

</body>
</html>
