<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:fragment="oxidesHeader">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name="description" content="Open Oxides Grid Portal"/>
    <meta name="author" content="Rafal Kluszczynski"/>

    <title>Open Oxides Grid Portal</title>

    <!-- AngularJS modules CSS -->
    <link rel="stylesheet" href="/webjars/angular-feeds/0.0.3/angular-feeds.css"/>
    <link rel="stylesheet" href="/webjars/angularjs-toaster/0.4.8/toaster.css"/>

    <!-- Open Oxides CSS -->
    <link rel="stylesheet" href="/assets/css/oxides-grid-portal.css"/>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css"/>

    <!-- Bootstrap core JavaScript -->
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Google JS API autoload JavaScript (for RSS feeds) -->
    <script type="text/javascript"
            src="https://www.google.com/jsapi?autoload=%7B%22modules%22%3A%5B%7B%22name%22%3A%22feeds%22%2C%22version%22%3A%221.0%22%2C%22nocss%22%3Atrue%7D%5D%7D"></script>

    <!-- AngularJS core and modules JavaScript -->
    <script src="/webjars/angularjs/1.4.4/angular.min.js"></script>
    <script src="/webjars/angularjs/1.4.4/angular-animate.min.js"></script>
    <script src="/webjars/angularjs/1.4.4/angular-route.min.js"></script>
    <script src="/webjars/angular-feeds/0.0.3/angular-feeds.min.js"></script>
    <script src="/webjars/angularjs-toaster/0.4.8/toaster.js"></script>
    <script src="/webjars/angular-ui-bootstrap/0.13.3/ui-bootstrap.min.js"></script>
    <script src="/webjars/nervgh-angular-file-upload/2.1.1/angular-file-upload.min.js"></script>

    <!-- Angular SpinKit CSS and JavaScript -->
    <link rel="stylesheet" href="/assets/css/angular-spinkit.min.css"/>

    <script src="/assets/js/angular-spinkit.min.js"></script>

    <!-- Open Oxides JavaScript -->
    <script src="/assets/js/oxides-grid-portal.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body/>
</html>
