<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="en" ng-app="oxidesGridPortal">
<head th:replace="include/header :: oxidesHeader"/>

<body ng-controller="oxidesGridPortalController">
<nav th:replace="include/navbar :: oxidesNavigationBar"/>

<!-- Wrap all page content here -->
<div id="wrap">
    <!-- Begin page content -->
    <div class="container" ng-controller="oxidesSimulationsListingController">

        <h1>SIMULATIONS</h1>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Simulations</div>

            <div ng-show="showSpinKit">
                <chasing-dots-spinner></chasing-dots-spinner>
            </div>

            <div class="table-responsive">
                <!-- Table -->
                <table class="table table-hover" ng-show="!showSpinKit">
                    <theader>
                        <tr>
                            <td>Name</td>
                            <td>Status</td>
                            <td>Submission Time</td>
                            <td>Queue</td>
                            <td>.1</td>
                            <td>.2</td>
                        </tr>
                    </theader>

                    <tbody>
                    <tr ng-repeat="simulation in simulations">
                        <td ng-attr-title="{{ simulation.uri }}">{{ simulation.name }}</td>
                        <td>{{ simulation.status }}</td>
                        <td>{{ simulation.submissionTime }}</td>
                        <td>{{ simulation.queue }}</td>
                        <td><a ng-attr-href="/oxides/simulations/{{ simulation.uuid }}">Show</a></td>
                        <td>
                            <button ng-click="destroyJob(simulation.uuid)">X</button>
                            <!--<a ng-click="destroyJob(simulation.uuid)" href="javascript:void(0);">X</a>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->

        </div>
    </div>
    <!-- /.container -->
</div>

<footer th:replace="include/footer :: oxidesFooter"/>

<!-- ==================================================== -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
