<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="en" ng-app="oxidesGridPortal">
<head th:replace="include/header :: oxidesHeader"/>

<body ng-controller="oxidesGridPortalController">
<nav th:replace="include/navbar :: oxidesNavigationBar"/>

<!-- Wrap all page content here -->
<div id="wrap">
    <!-- Begin page content -->
    <div class="container">

        <h1>SIMULATIONS</h1>
    </div>
    <!-- /.container -->
</div>

<footer th:replace="include/footer :: oxidesFooter"/>

<!-- ==================================================== -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
