<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="en" ng-app="oxidesGridPortal">
<head th:replace="include/header :: oxidesHeader"/>

<body>
<nav th:replace="include/navbar :: oxidesNavigationBar"/>

<!-- Wrap all page content here -->
<div id="wrap">
    <!-- Begin page content -->
    <div class="container" ng-controller="oxidesSimulationFilesListingController"
         th:attr="ng-init='initializeBreadCrumb(\'' + ${uuid} + '\', \'' + ${path} + '\')'">

        <h3>Simulation: <span th:text="${uuid}"></span></h3>

        <ol class="breadcrumb">
            <li ng-repeat="element in breadCrumbElements" ng-class="{'active': $last}">
                <span ng-if="$first &amp;&amp; $last">{{ element.label }}</span>
                <a href="{{ element.href }}" ng-if="$first &amp;&amp; !$last">{{ element.label }}</a>
                <a href="{{ element.href }}" ng-if="$middle">{{ element.label }}</a>
                <span ng-if="!$first &amp;&amp; $last">{{ element.label }}</span>
            </li>
        </ol>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Files of <span th:text="${path}"></span></div>

            <div ng-show="showSpinKit">
                <chasing-dots-spinner></chasing-dots-spinner>
            </div>

            <div class="table-responsive" ng-show="!showSpinKit">
                <!-- Table -->
                <table class="table table-hover">
                    <tbody>
                    <tr ng-repeat="simulationFile in simulationFiles">
                        <td>{{ simulationFile.path }}</td>
                        <td>
                            <a th:href="@{|/oxides/simulations/${uuid}/files?path={{ simulationFile.path }}|}"
                               class="btn btn-default btn-xs" role="button"
                               ng-show="simulationFile.directory">
                                <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Enter
                            </a>
                        </td>
                        <td>
                            <a th:href="@{|/oxides/unicore/jobs/${uuid}/file?path={{ simulationFile.path }}|}"
                               class="btn btn-default btn-xs" role="button"
                               ng-show="!simulationFile.directory"
                               target="_blank">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Show
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->

        </div>
    </div>
    <!-- /.container -->
</div>

<footer th:replace="include/footer :: oxidesFooter"/>

<!-- ==================================================== -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
