<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="en" ng-app="oxidesGridPortal">
<head th:replace="include/header :: oxidesHeader"/>

<body>
<nav th:replace="include/navbar :: oxidesNavigationBar"/>

<!-- Wrap all page content here -->
<div id="wrap">
    <!-- Begin page content -->
    <div class="container" ng-controller="oxidesSimulationFilesListingController"
         th:attr="ng-init='initializeBreadCrumb(\'' + ${uuid} + '\', \'' + ${escapedPath} + '\')'">

        <h3>Simulation: <span th:text="${uuid}"></span></h3>

        <ol th:replace="include/path-breadcrumb :: oxidesPathBreadcrumb"/>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Files of <span th:text="${path}"></span></div>

            <chasing-dots-spinner ng-show="showSpinKit"></chasing-dots-spinner>

            <div class="table-responsive" ng-show="!showSpinKit">
                <!-- Table -->
                <table class="table table-hover">
                    <tbody>
                    <tr ng-repeat="simulationFile in simulationFiles">
                        <td>{{ simulationFile.path }}</td>
                        <td>
                            <a th:href="@{|/simulations/${uuid}/jsmol?path={{ simulationFile.path }}|}"
                               class="btn btn-default btn-xs" role="button"
                               ng-show="hasJsMolExtension(simulationFile)">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View
                            </a>
                        </td>
                        <td>
                            <a th:href="@{|/simulations/${uuid}/files?path={{ simulationFile.path }}|}"
                               class="btn btn-default btn-xs" role="button"
                               ng-show="simulationFile.directory">
                                <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Enter
                            </a>
                        </td>
                        <td>
                            <a th:href="@{|/unicore/jobs/${uuid}/file?path={{ simulationFile.path }}|}"
                               class="btn btn-default btn-xs" role="button"
                               ng-show="!simulationFile.directory"
                               target="_blank">
                                <span class="glyphicon glyphicon-open-file" aria-hidden="true"></span> Download
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->

        </div>
    </div>
    <!-- /.container -->
</div>

<footer th:replace="include/footer :: oxidesFooter"/>

<div th:replace="include/body-finale :: oxidesFinale"/>
</body>
</html>
