<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="en" ng-app="oxidesGridPortal">
<head th:replace="include/header :: oxidesHeader"/>

<body ng-controller="oxidesGridPortalController">
<nav th:replace="include/navbar :: oxidesNavigationBar"/>

<!-- Wrap all page content here -->
<div id="wrap">
    <!-- Begin page content -->
    <div class="container" ng-controller="oxidesSimulationFilesListingController"
         th:attr="ng-init='filePath=\''+${path}+'\''">

        <h1>Simulation: <span th:text="${uuid}"></span></h1>

        <ol class="breadcrumb">
            <li ng-repeat="pathElement in getBreadCrumbPath()" ng-class="{'active': $last}">
                <span ng-if="$first && $last">{{ pathElement }}</span>
                <a href="/" ng-if="$first && !$last">{{ pathElement }}</a>
                <a href="#" ng-if="$middle">{{ pathElement }}</a>
                <span ng-if="!$first && $last">{{ pathElement }}</span>
            </li>
        </ol>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Files of <span ng-model="filePath"></span></div>

            <div ng-show="showSpinKit">
                <chasing-dots-spinner></chasing-dots-spinner>
            </div>

            <!-- Table -->
            <table class="table" ng-show="!showSpinKit">
                <tbody>
                <tr ng-repeat="simulationFile in simulationFiles">
                    <td>{{ simulationFile.path }}</td>
                    <td><a th:href="@{|/oxides/simulations/${uuid}?path={{ simulationFile.path }}|}"
                           ng-show="simulationFile.directory">Show Dir</a></td>
                    <td><a th:href="@{|/oxides/unicore/files/${uuid}?path={{ simulationFile.path }}|}"
                           ng-show="!simulationFile.directory">Show File</a></td>
                    <td>
                        <button ng-click="viewFile(simulationFile.path)">View</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.container -->
</div>

<footer th:replace="include/footer :: oxidesFooter"/>

<!-- ==================================================== -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
