<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="en" ng-app="oxidesGridPortal">
<head th:replace="include/header :: oxidesHeader"/>

<body>
<nav th:replace="include/navbar :: oxidesNavigationBar"/>

<script type="text/javascript"
        src="/assets/js/JSmol.lite.nojq.js">
</script>

<!-- Wrap all page content here -->
<div id="wrap">
    <!-- Begin page content -->
    <div class="container" ng-controller="oxidesMoleculeViewerController"
         th:attr="ng-init='initialize(\'' + ${uuid} + '\', \'' + ${escapedPath} + '\')'">

        <h3>Simulation: <span th:text="${uuid}"></span></h3>

        <ol th:replace="include/path-breadcrumb :: oxidesPathBreadcrumb"/>

        <script type="text/javascript" th:inline="javascript">
            /*<![CDATA[*/
            var uuid = /*[[${uuid}]]*/ '';
            var path = /*[[${path}]]*/ '';
            var Info = {
                src: '/oxides/unicore/jobs/' + uuid + '/file?path=' + path,
                width: '100%',
                height: 500,
                color: "0xF0F0F0",
                addSelectionOptions: false,
                bondWidth: 4,
                debug: false,
                mouseDragFactor: 0.5,
                multipleBondSpacing: 4,
                pinchScaling: 2.0,
                readyFunction: null,
                spinRateX: 0.2,
                spinRateY: 0.5,
                spinFPS: 20,
                spin: true,
                shadeAtoms: true,
                touchDragFactor: 0.15,
                use: "HTML5",
                zoomScaling: 1.5
            };

            Jmol.getTMApplet("jmol", Info);
            /*]]>*/
        </script>

        <p>&nbsp;</p>
    </div>
    <!-- /.container -->
</div>

<footer th:replace="include/footer :: oxidesFooter"/>

<!-- ==================================================== -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
