<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="en" ng-app="oxidesGridPortal">
<head th:replace="include/header :: oxidesHeader"/>

<body>
<nav th:replace="include/navbar :: oxidesNavigationBar"/>

<!-- Wrap all page content here -->
<div id="wrap">
    <!-- Begin page content -->
    <div class="container">

        <h3>Page Access Forbidden</h3>

        <div>
            In case of problems:
            <ul>
                <li>check PLGrid
                    <a href="https://docs.cyfronet.pl/pages/viewpage.action?pageId=19368370">
                        documentation</a> (in Polish),
                </li>
                <li>contact PLGrid <a href="http://helpdesk.plgrid.pl/">Helpdesk</a>.</li>
            </ul>
        </div>

    </div>
    <!-- /.container -->
</div>

<footer th:replace="include/footer :: oxidesFooter"/>

<!-- ==================================================== -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
