<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="en" ng-app="oxidesGridPortal">
<head th:replace="include/header :: oxidesHeader"/>

<body>
<nav th:replace="include/navbar :: oxidesNavigationBar"/>

<!-- Wrap all page content here -->
<div id="wrap">
    <!-- Begin page content -->
    <div class="container">

        <div class="panel panel-default" th:if="${commonName}">
            <div class="panel-heading">User name</div>
            <div class="panel-body" th:text="${commonName}"/>
        </div>

        <div class="panel panel-default" th:if="${emailAddress}">
            <div class="panel-heading">User e-mail address</div>
            <div class="panel-body" th:text="${emailAddress}"/>
        </div>

        <div class="panel panel-default" th:if="${custodianDN}">
            <div class="panel-heading">Grid distinguished name (DN)</div>
            <div class="panel-body" th:text="${custodianDN}"/>
        </div>

        <div class="panel panel-default" th:unless="${#lists.isEmpty(memberGroups)}">
            <div class="panel-heading">Groups member</div>
            <ul class="list-group">
                <li class="list-group-item" th:each="group : ${memberGroups}">
                    <span th:text="${group}"></span>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.container -->
</div>

<footer th:replace="include/footer :: oxidesFooter"/>

<div th:replace="include/body-finale :: oxidesFinale"/>
</body>
</html>
