<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="en" ng-app="oxidesGridPortal">
<head th:replace="include/header :: oxidesHeader"/>

<body>
<nav th:replace="include/navbar :: oxidesNavigationBar"/>

<!-- Wrap all page content here -->
<div id="wrap">
    <!-- Begin page content -->
    <div class="container">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">UNICORE Latest News</h3>
            </div>

            <div class="panel-body">
                <div class="feed-block">
                    <feed summary="true" url="http://www.unicore.eu/_script/unicore_news.rss" count="3"/>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>

<footer th:replace="include/footer :: oxidesFooter"/>

<!-- ==================================================== -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
